<% provide(:title, 'Dashboard') %>
<div class="container">
  <div class="row">
    <h1>Mediation Counters</h1>
    <br><br>
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#">Dashboard</a></li>
        <li><a href="#">Gcdr Counters</a></li>
        <li><a href="#">Scdr Counters</a></li>
    </div>
    <div class="col-md-8">
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
