<% provide(:title, 'Scdr Counters') %>
<div class="container">
  <div class="row">
    <h1>Mediation Counters</h1>
    <br><br>
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li><%= link_to "Dashboard", root_path %></li>
        <li><%= link_to "Gcdr Counters", gcdr_counter_index_path %></li>
        <li><%= link_to "Scdr Counters", scdr_counter_index_path %></li>
    </div>
    <div class="col-md-10">
      <%= render "content" %>
    </div>
  </div>
</div>
