@import "bootstrap";
@import "font-awesome";

.progress {
  margin-bottom: 5px;
}

.modal-body {
  position: relative;
  overflow-y: auto;
  max-height: 400px;
  padding: 20px;
}

.modal-dialog {
  width: 900px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.background {
  background-color: #E0E0E0;
  text-align: center;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
